body {
	background-image: url("../img/background.png");
}

.logo_block {
	left: 50%;
	margin-left: -200px;
	position: absolute;
	display: inline-block;
}

.logo {
	width: 400px;
	height: 70px;
}

.monitor_block {
	position: absolute;
	display: inline-block;
	left:50%;
	margin-left: -400px;
	top: 100px;
	width: 800px;
	height: 500px;
	background-color: white;
	border: 1px solid #2F72A7;
}

.button_1 {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: -470px;
	top: 120px;
}

.button_2 {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: -470px;
	top: 180px;
}

.button_3 {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: -470px;
	top: 240px;
}

.button_4 {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: -470px;
	top: 300px;
}

.button_5 {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: 420px;
	top: 360px;
}

.button_6 {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: 420px;
	top: 420px;
}

.button_7 {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: 420px;
	top: 480px;
}

.button_8 {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin-left: 420px;
	top: 540px;
}


